/node_modules
/public/hot
/public/storage
/public/bower_components
/public/package.json
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
/certs
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
app.dockerfile
docker-compose.yml
dev-vhost.conf
prod-vhost.conf
uploads.ini
web.dockerfile